
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: rgb(20, 5, 5);
}


@font-face {
  font-family: "typewritter";
  src: 
      url('./fonts/momt___-webfont.woff2') format("woff2"),
      url('./fonts/momt___-webfont.woff') format("woff");
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 80px;
  background-color: white;
  box-shadow: 0px 0px 5px 0.1px lightgray;
  z-index: 1;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > div {
  margin-top: -20px;
  width: 200px;
}

header > nav > div > a > img {
  width: 200px;
}

header > nav > ul {
  display: flex;
  justify-content: space-evenly;
} 

nav > ul > li {
  list-style: none;
  margin-top: -20px;
  margin-right: 30px;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--primary-color);
}

nav > ul > li > a:hover {
  text-decoration:  underline;
}
.content {
  margin-top: 70px;
  position: relative;
}

.author > p {
  color: white;
}


/***************! home page styling *********************/
.home-page-body {
  background: url('./images/homepage-background.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.home-page-body > h1 {
  padding-top: 100px;
  text-transform: capitalize;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.home-page-body > div {
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.home-page-body > div >div:first-child {
  width: 400px;
}

.home-page-body > div >div:first-child > h3 {
  word-spacing: 2px;
  letter-spacing: 1.4px;
  font-family: "Roboto", serif;
}

.home-page-body > div > div:nth-child(2) {
  border: 5px solid white;
  height: 230px;
  width: 280px;
  padding: 20px;
  position: relative;
}

.home-page-body > div > div:nth-child(2) > p {
  margin: 10px;
  font-size: 1.3rem;
}

.home-page-body > div > div:nth-child(2) > button {
  cursor: pointer;
  border: none;
  position: absolute;
  font-size: 1rem;
  font-weight: 600;
  right: 10px;
  bottom: 10px;
  width: 100px;
  padding: 8px;
  color: white;
  background-color: var(--primary-color);
}

.home-page-body > div > div:nth-child(2) > button:active {
  border: 1px solid --primary-color;
  background-color: transparent;
  color: white;
  transition: 0.25s;
}


/*************! menu page **************/
.menu-page-body {
  height: 100vh;
  background: linear-gradient(
    320deg, 
    rgb(21, 5, 5) 50%,
      transparent 50%
  ),
  url('./images/menupage-background.jpg'); 
  
  background-size: cover;
  background-position: left; 
  background-color: rgba(0, 0, 0, 0.5); 
  background-blend-mode: overlay;
}

.menu-page-body > h3 {
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 3rem;
}

.menu-page-body > div {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.menu-page-body > div > div {
  border: 1px solid white;
  width: 250px;
  height: 350px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 20% 80%, 0% 80%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-page-body > div > div > h3 {
  margin: 10px 0 20px 10px;
  font-size: 2rem;
  color: white;
  font-family: "Roboto", serif;
}

.menu-page-body > div > div > p {
  color: white;
  text-align: center;
  font-family: "typewritter";
  text-decoration: underline;
  margin-bottom: 30px;
}

/******************! about us page ****************/

.about-page-body {
  background-image: url('./images/aboutpage-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  background-blend-mode: overlay;
}

.about-page-body > h1 {
  color: white;
  padding-top: 50px;
  font-size: 3rem;
  margin-left: 50px;
}

.about-page-body > p {
  color: white;
  margin: 15px 0 15px 50px;
  max-width: 800px;
  font-size: 1.2rem;
  font-family: "Roboto", serif;
}

/******************! contact page *******************/

.contact-page-body {
  height: 100vh;
  background: linear-gradient(to right, var(--primary-color) 50%, #ffffff 50%);
  display: flex;
  justify-content: space-between;
}


.contact-page-body > div {
  width: 50%;
  height: 100vh;
}

.contact-page-body > div:first-child > h1 {
  color: white;
  padding-top: 50px;
  font-size: 3rem;
  margin-left: 50px;
}

.contact-page-body > div:first-child > p {
  color: white;
  margin: 15px 0 15px 50px;
  max-width: 800px;
  font-size: 1.2rem;
  font-family: "Roboto", serif;
}

.contact-page-body > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contactAuthor {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.contactAuthor > span {
  display: flex;
  justify-content: space-evenly;
}

.contactAuthor > span > a {
  color: black;
  font-size: 1.5rem;
}

form {
  padding: 15px;
  width: 300px;
  height: 400px;
  border: 1px solid var(--primary-color);
}

form > label {
  font-size: 1.3rem;
  font-family: "Roboto", serif;
  display: block;
  margin-top: 10px;
}

form > input {
  height: 25px;
  width: 93%;
  padding: 0 10px 0 10px;
}

form > textarea {
  width: 93%;
  margin-top: 20px;
  height: 100px;
  padding: 10px;
  font-family: "Roboto", serif;
}

form > button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-left: 30px;
  border: none;
  background-color: var(--primary-color);
  color: white
}

form > button:active {
  border: 1px solid --primary-color;
  background-color: transparent;
  color: white;
  transition: 0.25s;
}

form > button:last-child {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

form > button:last-child:active {
  border: none;
  background-color: var(--primary-color);
  color: white;
  transition: 0.25s;
}

section {
  position: relative;
}

.author {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.author > span {
  display: flex;
  justify-content: space-evenly;
}

.author > span > a {
  color: white;
  font-size: 1.5rem;
}
